.delay__wrapper {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    align-self: stretch;
    justify-content: space-between;
    padding: 10px 0;
    transform: translateY(4px);
    & p {
        color: var(--orange-color-bottom);
        text-align: center;
    }
}
.delay__time {
    font-size: 11px;
    display: flex;
    flex-direction: column;
    text-align: right;
    gap: 2px;
    & li {
        cursor: pointer;
        padding: 3px 4px;
        width: 36px;
        background: linear-gradient(
            var(--orange-color-bottom),
            var(--orange-color-top)
        );
        border-radius: 4px;
    }
    & .li_active {
        color: black;
        background: linear-gradient(
            var(--orange-color-bottom),
            var(--orange-color-bottom)
        );
    }
}
